html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  width: 100%;
  z-index: 100;
  box-sizing: border-box;
  padding: 0 10%;
}

.canvas-container {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.main-canvas {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
